.block-about {
    position: relative;
    margin-bottom: 225px;
}

.block-about__carpet-list-wrapper {
    display: flex;
    justify-content: center;
}

.block-about > h2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 90px;
    font-size: 50px;
    font-weight: 400;
}

.eva {
    margin: 0 5px;
    color: blue;
}

.block-about__carpet-list {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.carpet-list__carpet-card {
    width: 344px;
    box-shadow: 0 0 8px 2px gray;
    background-color: white;
    overflow: hidden;
}

.about__img1 {
    width: 344px;
    height: 207px;
    background-image: url("../images/carpets1.png");
}

.about__img2 {
    width: 344px;
    height: 207px;
    background-image: url("../images/carpets2.png");
}

.about__img3 {
    width: 344px;
    height: 207px;
    background-image: url("../images/carpets3.png");
}

.carpet-card__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.carpet-card__text-wrapper > p:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
}

.carpet-card__text-wrapper > p:nth-child(2) {
    font-size: 14px;
    font-weight: 300;
}

.about-bkg1 {
    position: absolute;
    left: -30px;
    top: 158px;
    z-index: -1;
}

.about-bkg2 {
    position: absolute;
    left: 464px;
    top: 350px;
    z-index: -1;
}

.about-bkg3 {
    position: absolute;
    left: 400px;
    top: 592px;
    z-index: -1;
}

@media screen and (max-device-width: 1400px) {
    .block-about__carpet-list {
        flex-direction: column;
    }

    .carpet-list__carpet-card {
        width: 593px;
    }

    .about__img1 {
        width: 594px;
        height: 163px;
        background-image: url("../images/carpets4.png");
    }

    .about__img2 {
        width: 594px;
        height: 159px;
        background-image: url("../images/carpets5.png");
    }

    .about__img3 {
        width: 594px;
        height: 153px;
        background-image: url("../images/carpets6.png");
    }

    .about-bkg1 {
        width: 177px;
        left: 58px;
        top: 256px;
    }

    .about-bkg2 {
        width: 86px;
        left: 189px;
        top: 426px;
    }

    .about-bkg3 {
        left: unset;
        right: 30px;
        top: 780px;
    }
}
