.img6 {
    position: absolute;
    left: 750px;
    top: 25px;
}

.img7 {
    position: absolute;
    left: 610px;
    top: 100px;
}

.img4 {
    position: absolute;
    left: 410px;
    top: 195px;
}

.img5 {
    position: absolute;
    left: 433px;
    top: 205px;
    width: 45px;
}

.img1 {
    position: absolute;
    left: 90px;
    top: 555px;
}

.img2 {
    position: absolute;
    left: 144px;
    top: 525px;
}

.img3 {
    position: absolute;
    left: 176px;
    top: 577px;
}

.img8 {
    position: absolute;
    top: -80px;
    left: 70px;
}

.img9 {
    position: absolute;
    left: calc(100vw - 270px - 30px);
    top: -150px;
}

@media screen and (max-width: 1400px) {
    .img1 {
        left: 94px;
        top: 700px;
    }

    .img2 {
        left: 96px;
        top: 666px;
    }

    .img4 {
        left: 234px;
        top: 176px;
    }

    .img5 {
        left: 254px;
        top: 187px;
    }

    .img6 {
        left: 368px;
        top: 200px;
    }

    .img7 {
        left: 192px;
        top: 262px;
    }

    .img8 {
        width: 86px;
        left: 118px;
        top: -34px;
    }

    .img9 {
        width: 40px;
        left: unset;
        right: 36px;
        top: -30px;
    }
}

@media screen and (max-width: 500px) {
    .img1, .img2, .img4, .img5, .img6 {
        display: none;
    }

    .img7 {
        width: 350px;
        left: 0px;
        top: 100px;
    }
}

@media screen and (max-width: 500px) {
    .img3, .img8, .img9 {
        display: none;
    }
}
