.img6 {
    position: absolute;
    left: 750px;
    top: 25px;
}

.img7 {
    position: absolute;
    left: 610px;
    top: 100px;
}

.img4 {
    position: absolute;
    left: 410px;
    top: 195px;
}

.img5 {
    position: absolute;
    left: 433px;
    top: 205px;
    width: 45px;
}

.img1 {
    position: absolute;
    left: 90px;
    top: 555px;
}

.img2 {
    position: absolute;
    left: 144px;
    top: 525px;
}

.img3 {
    position: absolute;
    left: 176px;
    top: 577px;
}

.img8 {
    position: absolute;
    top: -80px;
    left: 70px;
}

.img9 {
    position: absolute;
    left: calc(100vw - 270px - 30px);
    top: -150px;
}
